<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="stylesheets/style.css" />
      <title>New Message Form</title>
   </head>
   <body>
      <form action="/new" method="post">
         <legend>Send new message</legend>
         <div class="form_element">
            <label for="user">Enter your name:</label>
            <input type="text" id="user" name="user" required />
         </div>
         <div class="form_element">
            <label for="text">Type your message:</label>
            <textarea
               name="text"
               id="text"
               rows="20"
               required
               placeholder="your message..."
            ></textarea>
         </div>
         <a href="/">Back to home</a>
         <button type="submit">Submit</button>
      </form>
   </body>
</html>
